<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>연노네 마카롱</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#orders-box').html('');
            showExchange();
            showOrders();
        });

        function order() {
            let name = $('#name').val();
            let count = $('#count').val();
            let address = $('#address').val();
            let phone = $('#phone').val();

            if (name == '') {
                alert('이름을 입력해주세요')
                $('#name').focus()
                return
            } else if (count == '') {
                alert('수량을 입력해주세요')
                $('#count').focus()
                return
            } else if (address == '') {
                alert('주소를 입력해주세요')
                $('#address').focus()
                return
            } else if (phone == '') {
                alert('휴대폰번호를 입력해주세요')
                $('#phone').focus()
                return
            } else if (!isCellPhone(phone)) {
                alert('휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요')
                return
            }


           $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {
                        'name': $("#name").val(),
                        'count': $("#count").val(),
                        'address': $("#address").val(),
                        'phone': $("#phone").val()
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("주문성공!");

                            window.location.reload();
                        } else {
                            alert("주문실패!")
                        }
                    }
                })
        }

        function isCellPhone(p) {
            let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        function showOrders() {
           $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        console.log(response['orders']);
                        let orders = response['orders'];
                        for (let i = 0; i < orders.length; i++) {
                            let name = orders[i]['name'];
                            let count = orders[i]['count']
                            let address = orders[i]['address']
                            let phone = orders[i]['phone']

                            let tempHtml = `    <tr>
                                              <th scope="row">${name}</th>
                                              <td>${count}</td>
                                              <td>${address}</td>
                                              <td>${phone}</td>
                                            </tr>`;
                            $('#orders-box').append(tempHtml);
                        }
                    }
                }
            })
        }



        function showExchange() {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        if (response[i]['name'] == 'USDKRW=X') {
                            $('#exchange').text(response[i]['rate']);
                            return;
                        }
                    }

                }
            })

        }
    </script>


    <style type="text/css">
        * {
            font-family: 'Poor Story', cursive;
        }

        .wrap {
            width: 700px;
            margin: auto;
        }

        .img {
            background-image: url('https://img-cf.kurly.com/shop/data/goodsview/20190621/gv20000053770_1.jpg');
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 400px;
        }

        .info {
            margin-top: 7px;
            margin-bottom: 7px;
            width: 500px;
            padding: 10px;
            border: lightpink solid;
            border-radius: 10px;
        }

        h1, h5 {
            display: inline;
        }


        .order {
            margin-inside: auto;
        }

        .exchange-info {
            color: deepskyblue;
        }


    </style>


</head>
<div>
    <div class="wrap">
        <div class="img"></div>
        <div class="info">
            <h1>연노네 마카롱</h1>
            <h5>가격: 1,500원/개</h5>
            <p>이 마카롱은 사실 특별한 힘을 가지고 있어요.<br>
                마카롱을 먹고 소원을 빌면 짜자잔 뭐든지 이뤄지게 됩니다.<br>
                (10개 단위로 판매해요;ㅁ;)<br>
                필링 맛이 아주 좋아요!</p>
            <div class="exchange-info">달러-원 환율: <span id="exchange">1201.5</span></div>
        </div>
        <div class="wrap">

            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top"
                         src="https://www.paris.co.kr/wp-content/uploads/200217_%E1%84%80%E1%85%A9%E1%84%86%E1%85%A6%E1%84%89%E1%85%A1%E1%86%AB%E1%84%84%E1%85%A1%E1%86%AF%E1%84%80%E1%85%B5%E1%84%86%E1%85%A1%E1%84%8F%E1%85%A1%E1%84%85%E1%85%A9%E1%86%BC_65-1280x1280.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title"><h4>산딸기 마카롱</h4></p>
                        <p class="card-text">딸기 필링이 가득</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">주문자 이름</span>
                            </div>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="count">수량</label>
                            </div>
                            <select class="custom-select" id="count">
                                <option selected="" value=""> -- 수량을 선택하세요 --</option>
                                <option value="1">10</option>
                                <option value="2">20</option>
                                <option value="3">30</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">주소</span>
                            </div>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">전화번호</span>
                            </div>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="order">
                            <button onclick="order()" type="button" class="btn btn-outline-warning">주문하기</button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="orders">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                    </thead>
                    <tbody id="orders-box">
                    <tr>
                        <td>서유리</td>
                        <td>30</td>
                        <td>스파르타국 코딩시 프론트구</td>
                        <td>010-1234-5678</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div
        >
    </div>
</div>
</html>
